<!doctype=html>
<html>
 <head>
  <script src="https://cdn.socket.io/socket.io-1.0.4.js"></script>
 </head>
 <body>

<h1>{{roomID}}<h1>


<div id="videoID">{{videoID}}</div>

<center><div id="player"></div></center>


 </body>
   <script src="/static/js/yougether.js"></script>
	<script>	
		initPlayer('{{videoID}}')
	</script>
</html>