body {
  height: 100%;
  padding: 0px;
}

#slim-header {
  height:2px;
  background-color: red;
}

#header {
  height: 40px;
  padding-left:40px;
  color:#444444;
  background-color: #fff;
}

#theater-background {
  background-color: #222222;
  height: 100%;
  padding-bottom: 80px;
}

#player {
}

#chat {
  padding-left: 30px;
}

#chat-online {
  color: #444444;
}

#chat-text {
  color: #666666;
  padding-bottom: 30px;
  height: 100px;
  overflow: hidden;
}

input#chat_msg {
  width: 100%;
  border: 0;
  background-color:#444444;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

